.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2%;

  &__title {
    text-align: center;
    font-weight: bold;
    padding: 0 3%;
  }

  &__search__title {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 54px;
    }

    button {
      margin-right: auto;
      margin-bottom: 10px;
    }
  }
}

.category__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2%;

  &__title {
    text-align: center;
    font-weight: bold;
  }
}

.similar__books__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-bottom: 2%;

  a {
    height: 100%;
  }
}

.favorites__books__board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 2%;
}
