.book__page {
  &__title {
    margin-bottom: 5%;
  }
  &__container {
    width: 100%;
    display: flex;
    gap: 10%;
    margin-bottom: 5%;
    justify-content: center;
  }

  &__info {
    width: 30%;
    border-top: solid 1px #e7e7e7;
    word-spacing: max;
    padding: 2% 1%;
    font-size: 20px;
    &__item {
      display: flex;
      justify-content: space-between;
    }
  }

  &__image {
    object-fit: contain;
    width: 100%;
    max-width: 600px;
    background-color: #fee9e2;
  }

  &__buttons__wrapper {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 10px;
    }
  }

  &__similar__books__title {
    &:hover {
      color: rgba($color: #897f7fe9, $alpha: 1);
    }
  }
}
