.book__card {
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  &:hover {
    transition: 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__title {
    text-align: center;
  }

  &__image {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5%;
  }
}

.book__card__cart {
  width: 100%;
  height: max-content;
  padding: 10px;
  margin: 10px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  &:hover {
    transition: 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__link {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #000;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: auto;
  }

  &__title {
    text-align: center;
  }

  &__image {
    max-width: 100px;
    margin: 10px;
  }

  &__author {
    text-align: center;
    font-size: 24px;
  }

  &__buttons__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    :first-child {
      margin-left: auto;
    }
  }
}

.book__card__favourites {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;

  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  &:hover {
    transition: 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__title {
    text-align: center;
  }

  &__image {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5%;
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: #000;
  }

  &__author {
    text-align: center;
    font-size: 24px;
  }

  &__price {
    margin: auto;
  }

  &__button__remove {
    align-self: flex-end;
  }
}
