.button {
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  background-color: white;
}

.button__red {
  border: 1px solid rgba(210, 25, 25, 0.5);
  color: #d21919;
}

.button__red:hover {
  background-color: rgba(210, 25, 25, 0.05);
}

.button__orange {
  border: 1px solid rgba(210, 102, 25, 0.5);
  // color: #d27c19;
  color: #000;
}

.button__orange:hover {
  background-color: rgba(233, 80, 8, 0.677);
}

.button__orange-full {
  border: 1px solid rgba(210, 102, 25, 0.5);
  background-color: rgba(233, 80, 8, 0.677);
}
.button__orange-full:hover {
  background-color: rgba(233, 79, 8, 0.952);
}

.button__blue {
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
}

.button__blue:hover {
  background-color: rgba(25, 118, 210, 0.05);
}
.button__green {
  border: 1px solid rgba(40, 179, 38, 0.815);
  color: #19d257;
}

.button__green:hover {
  background-color: rgba(45, 228, 106, 0.742);
}

.button__dark {
  background-color: #000000;
  border: 1px solid rgba(172, 166, 166, 0.315);
  color: #fff;
}

.button__dark:hover {
  background-color: rgba(0, 0, 0, 0.751);
}
.button__transparent {
  background: transparent;
  border: none;
  color: #fff;
}

.button__group {
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius: 30px;
  font-size: 20px;

  &__counter {
    color: #fff;
  }
}
