.header {
  padding: 5px;

  &__logo {
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    color: #000;
  }

  &__row {
    min-width: 100%;
    display: flex;
    max-width: 72px;
    border-bottom: solid 1px #e7e7e7;
  }

  &__categories {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    margin: auto;
  }

  &__userbar {
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    align-items: center;
    position: relative;

    &__singin {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #000;
    }

    &:hover {
      transition: 0.5s;
    }

    &__menu {
      position: absolute;
      transition: 0.5s;
      border: solid #000 2px;
    }
  }
}
